@import '../fonts/Quicksand'
@import '../fonts/Montserrat'
    
$h1: normal bold 24px/30px Quicksand
$h2: normal bold 19px/24px Quicksand
$h3: normal bold 12px/15px Montserrat
$body: normal normal 14px/24px Montserrat
