@font-face {
  font-family: 'Quicksand', sans-serif;
  src: url("Quicksand Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044; }

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url("Montserrat Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044; }

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url("Montserrat Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044; }

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url("Roboto Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044; }



* {
  padding: 0;
  margin: 0; }



.arrow_down {
  fill: rgba(31, 32, 65, 0.5);
  vertical-align: middle; }

.arrow_field {
  margin-right: 10px; }

.arrow_forward {
  position: absolute;
  top: 9.5px;
  right: 10px;
  fill: #FFFFFF; }



.auth {
  display: -webkit-box;
  display: flex;
  flex-wrap: nowrap; }
  .auth__item {
    height: 34px;
    margin-left: 20px;
    padding: 0 20px; }



.button {
  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border: none;
  border-radius: 22px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  text-transform: uppercase;
  color: #FFFFFF;
  outline: none; }
  .button:hover {
    cursor: pointer;
    outline: none; }
  .button:focus {
    outline: none; }
  .button_theme_dark:hover {
    opacity: .5; }
  .button_theme_light {
    position: relative;
    box-sizing: border-box;
    color: #BC9CFF;
    background: #FFFFFF;
    background-clip: padding-box;
    border: 2px solid transparent; }
    .button_theme_light:hover {
      color: rgba(188, 156, 255, 0.5); }
    .button_theme_light::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -2px;
      border-radius: inherit;
      background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%); }
    .button_theme_light:hover::before {
      opacity: .5; }
  .button_theme_icon-link-purple {
    height: 15px;
    background: #FFFFFF;
    border: none;
    color: #BC9CFF; }
  .button_theme_icon-link-dark {
    height: 15px;
    background: #FFFFFF;
    border: none;
    color: rgba(31, 32, 65, 0.5); }
  .button_long {
    width: 320px; }
  .button_short {
    width: 40px;
    height: 40px; }



.content {
  height: 680px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 70px 140px 18px;
  background-image: url(img/image-3-1080.jpg);
  background-position: center;
  background-size: cover; }
  .content__slogan {
    align-self: flex-end;
    text-align: right;
    width: 297px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-transform: none;
    color: rgba(31, 32, 65, 0.75); }



.dropdown {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  height: 44px;
  padding-left: 15px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
  background: #FFFFFF;
  color: rgba(31, 32, 65, 0.75);
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  box-sizing: border-box;
  text-transform: none;
  cursor: pointer; }
  .dropdown:hover, .dropdown:focus {
    outline: none;
    border: 1px solid rgba(31, 32, 65, 0.5); }
  .dropdown_active {
    border: 1px solid rgba(31, 32, 65, 0.5);
    border-radius: 4px 4px 0 0; }



.field {
  width: 100%;
  height: 44px;
  padding-left: 15px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
  text-transform: none; }
  .field::-webkit-input-placeholder {
    width: 40px;
    height: 18px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.25); }
  .field::-moz-placeholder {
    width: 40px;
    height: 18px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.25); }
  .field:-ms-input-placeholder {
    width: 40px;
    height: 18px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.25); }
  .field::-ms-input-placeholder {
    width: 40px;
    height: 18px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.25); }
  .field::placeholder {
    width: 40px;
    height: 18px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.25); }
  .field:hover, .field:focus {
    outline: none;
    border: 1px solid rgba(31, 32, 65, 0.5); }



.fieldset {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  border: none; }
  .fieldset:not(:first-of-type) {
    margin-left: 20px; }
  .fieldset__header {
    height: 15px;
    margin-bottom: 5px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    text-transform: uppercase; }
  .fieldset__date {
    width: 149px;
    text-transform: uppercase;
    cursor: text; }
    .fieldset__date::-webkit-datetime-edit-month-field, .fieldset__date::-webkit-datetime-edit-day-field, .fieldset__date::-webkit-datetime-edit-year-field, .fieldset__date::-webkit-datetime-edit-text {
      font-family: Montserrat, sans-serif;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      text-transform: none;
      line-height: 18px;
      color: rgba(31, 32, 65, 0.75); }
    .fieldset__date::-webkit-inner-spin-button {
      display: none; }
    .fieldset__date::-webkit-clear-button {
      display: none; }
  .fieldset__field {
    width: 100%; }



.footer {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
  color: rgba(31, 32, 65, 0.75); }
  .footer__content {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 100px 140px;
    box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1); }
  .footer__inner {
    width: 260px; }
  .footer__promo {
    margin-top: 20px; }
  .footer__copy-social {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    height: 70px;
    padding: 0 140px;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05); }
  .footer__copy {
    line-height: 17px; }



.form {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  align-items: stretch;
  width: 380px;
  height: 374px;
  padding: 40px 30px 30px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px; }
  .form__header {
    font-family: Quicksand, Roboto, sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #1F2041; }
  .form__inner {
    display: -webkit-box;
    display: flex; }
  .form__button {
    position: relative;
    padding: 14px 20px 15px; }



.header {
  height: 70px;
  padding: 0 140px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05); }
  .header__inner {
    display: -webkit-box;
    display: flex;
    flex-wrap: nowrap; }



.link {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.5);
  text-decoration: none; }

.logo {
  width: 105.69px;
  height: 40px;
  left: 140px;
  top: 15px; }



.menu {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center; }
  .menu__inner {
    display: -webkit-box;
    display: flex;
    list-style-type: none; }
  .menu__item {
    margin-left: 20px;
    white-space: nowrap; }



.nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column; }
  .nav__header {
    margin-bottom: 21px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    text-transform: uppercase;
    color: #1F2041; }
  .nav__inner {
    list-style-type: none; }
  .nav__item {
    line-height: 17px; }
    .nav__item:not(:first-child) {
      margin-top: 20px; }

.page {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column; }



.quantity {
  position: absolute;
  width: 100%;
  height: 159px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.5);
  border-top: none;
  border-radius: 0 0 4px 4px;
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  padding: 0 7px 13px 15px;
  z-index: 10;
  outline: none; }
  .quantity:focus {
    outline: none; }
  .quantity_disabled {
    display: none; }
  .quantity__change {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 7px; }
  .quantity__label {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase; }
  .quantity__counter {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-content: center;
    width: 92px; }
  .quantity__shift {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-transform: none;
    font-size: 18px;
    line-height: 22px;
    background: rgba(255, 255, 255, 0);
    color: rgba(31, 32, 65, 0.5);
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 22px; }
    .quantity__shift:focus {
      outline: none; }
    .quantity__shift:disabled {
      opacity: .5; }
  .quantity__decrement {
    padding-bottom: 2px;
    z-index: -1; }
  .quantity__count {
    width: 22px;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    padding-top: 7.5px; }
  .quantity__inner {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-top: 19px; }

.social {
  display: -webkit-box;
  display: flex; }
  .social__item {
    width: 24px;
    height: 24px;
    margin-left: 20px; }



.subscribe {
  width: 260px; }
  .subscribe__header {
    margin-bottom: 21px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041; }
  .subscribe__info {
    margin-bottom: 20px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-transform: none; }
