@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

* {
	padding: 0;
	margin: 0;
}

.page {
    display: flex;
    flex-direction: column;
	/* width: 410px;
	height: 200px;
	padding: 10px 10px;
	justify-content: space-around;
    flex-wrap: wrap; */
    font-family: 'Montserrat', sans-serif;
	font-style: normal;
    font-weight: normal;
}

.header {
    position: absolute;
    width: 1440px;
    height: 70px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}
.content {
    background-image: url(/img/image-3.jpg);
}

/*----- Бордер с градиентом для светлой темы -----*/
.button-border-wrap {
	position: relative;
	width: 99px;
	height: 44px;
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	border-radius: 22px;
}

/*----- Блок button -----*/
.button {
/*	position: absolute;
*/	width: 99px;
	height: 44px;
	border-radius: 22px;
}

/*----- Модификатор purple темы блока button -----*/
.button_theme_purple {
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	border: 0px;
}

/*----- Модификатор green темы блока button -----*/
.button_theme_green {
	background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
	border: 0px;
}

/*----- Модификатор светлой темы блока button -----*/
.button_theme_light {
	width: 95px;
	height: 40px;
	background: #FFFFFF;
	border: 0px;
	margin: 2px 2px;
}

.button_theme_icon-link {
	width: 61px;
	height: 15px;
}

.button_long {
	width: 320px;
}

.button_short {
	width: 40px;
	height: 40px;
}

/*----- Модификатор hover темной темы блока button -----*/
.button_hover {
	opacity: .5;
}

/*----- ?!?!?!?! -----*/
.button-border-wrap_hover {
	opacity: .5;
}





/*----- Элемент блока button -----*/
.button__text {
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;
}

/*----- Модификатор темного текста в элементе блока button -----*/
.button__text_dark {
	color: #BC9CFF;
}

/*----- Модификатор светлого текста в элементе блока button -----*/
.button__text_light {
	color: #FFFFFF;
}

/*----- Модификатор темного текста темы icon-link в элементе блока button -----*/
.button__text_icon-link_dark {
	color: rgba(31, 32, 65, 0.5);
}

/*----- Модификатор светлого текста темы icon-link в элементе блока button -----*/
.button__text_icon-link_light {
	color: #BC9CFF;
}

.material-icons {    /*.arrow*/
	position: absolute;
	width: 44px;
	height: 44px;

	font-family: Material Icons;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 24px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #FFFFFF;
}

/*.button__arrow {
	top: 0;
	right: 0;
	vertical-align: middle;
}
*/