@import '../fonts'
@import '../color'
    
.form
    display: flex
    flex-direction: column
    flex-wrap: nowrap
    justify-content: space-between
    align-items: stretch
    width: 380px
    height: 374px
    padding: 40px 30px 30px
    background: $white
    border: 1px solid rgba(0, 0, 0, 0.12)
    box-sizing: content-box
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2)
    border-radius: 4px
    
    &__header
        font: $h1
        color: $darkShade100
        
    &__inner
        display: flex

    &__button
        position: relative
        padding: 14px 20px 15px

