@import '../fonts'
@import '../color'
    
.content
    height: 680px
    display: flex
    flex-direction: column
    justify-content: space-between
    padding: 70px 140px 18px
    background-image: url(img/image-3-1080.jpg)
    background-position: center
    background-size: cover

    &__slogan
        align-self: flex-end
        text-align: right
        width: 297px;
        font: $body
        color: $darkShade75
