@import '../fonts'
@import '../color'
    
.footer
    display: flex
    flex-direction: column
    font: $body
    color: $darkShade75

    &__content
        display: flex
        justify-content: space-between
        padding: 100px 140px
        box-shadow: 0px 1px 0px $darkShade10

    &__inner
        width: 260px

    &__promo
        margin-top: 20px

    &__copy-social
        display: flex
        justify-content: space-between
        align-items: center
        height: 70px
        padding: 0 140px
        box-shadow: 0px 10px 20px $darkShade5

    &__copy
        line-height: 17px;
