.button
    position: relative
    padding: 14px 20px 15px
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
    border: 0px
    border-radius: 22px
    font-size: 12px
    line-height: 15px
    text-transform: uppercase
    color: #FFFFFF

    &:hover
        opacity: .5

    &_theme_light
        width: 95px
        height: 40px
        background: #FFFFFF
        border: 0px
        margin: 2px 2px
        color: #BC9CFF

    &_theme_icon-link
        width: 61px
        height: 15px

        &:hover
            color: rgba(31, 32, 65, 0.5)

    &_long
        width: 320px

    &_short
        width: 40px
        height: 40px