@import '../fonts'
@import '../color'
    
.fieldset
    position: relative
    display: flex
    flex-direction: column
    border: none
    margin-top: 20px

    &:not(:first-of-type)
        margin-left: 20px

    &__header
        height: 15px
        margin-bottom: 5px
        @include h3
        text-transform: uppercase

    &__date
        width: 149px
        text-transform: uppercase
        cursor: text

        &::-webkit-datetime-edit-month-field, &::-webkit-datetime-edit-day-field, &::-webkit-datetime-edit-year-field, &::-webkit-datetime-edit-text
            @include body
            text-transform: uppercase
            line-height: 18px
            color: $darkShade75
        &::-webkit-inner-spin-button
            display: none
        &::-webkit-clear-button
            display: none
        // &::-webkit-calendar-picker-indicator
        //     background: orange
        //     background-image: url('../img/expand_more.svg')
        // &::-webkit-datetime-edit
        //     padding: 0em
        // &::-webkit-datetime-edit-fields-wrapper
        //     background: silver
        // &::-webkit-datetime-edit-text
        //     color: red; padding: 0 0.3em
        // &::-webkit-datetime-edit-day-field
        //     color: green
        // &::-webkit-datetime-edit-year-field
        //     color: purple

    &__field
        width: 100%
