@import '../fonts'
@import '../color'
    
.dropdown
    display: flex
    justify-content: space-between
    align-items: center
    font: $body
    color: $darkShade75
    cursor: pointer

    // &__content
        // color: $darkShade75

    &__inner
        display: flex
        justify-content: center
        align-items: center
        width: 44px

    &__arrow
        margin-right: 10px
        font-size: 24px
        line-height: 24px
        fill: $darkShade50
