@import '../fonts'
@import '../color'
    
.field
    width: 100%
    height: 44px
    padding-left: 15px
    background: $white
    border: 1px solid $darkShade25
    box-sizing: border-box
    border-radius: 4px
    @include body
    text-transform: none

    &::placeholder
        width: 40px
        height: 18px
        line-height: 18px
        color: $darkShade25

    &:hover, &:focus
        outline: none
        border: 1px solid $darkShade50

    &_auth
        margin-top: 10px

        &:first-of-type
            margin-top: 20px
